<div class="mx-auto mt-6 container">
    <span class="text-center font-bold text-xl">{{ title }} app is running!</span>
  
    <form [formGroup]="formLogin" (submit)="send()" autocomplete="off" class="container w-full max-w-xl p-8 mt-6 mx-auto space-y-6 rounded-md shadow bg-gray-900 ng-untouched ng-pristine ng-valid">
          <h2 class="w-full text-3xl text-white font-bold leading-tight">Login</h2>
          <div>
              <label for="username" class="block mb-1 ml-1 text-white">Username</label>
              <input formControlName="username" [ngClass]="{'correct': formLogin.get('username')?.valid,'error': formLogin.get('username')?.invalid && formLogin.get('username')?.touched}" id="username" type="text" placeholder="Username" class="block w-full text-white p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400 bg-gray-800">
              <div>
                  <p *ngIf="formLogin.get('username')?.errors?.['required']&& formLogin.get('username')?.touched" class="text-center block mb-1 ml-1 text-red-600">El Campo Username es Obligatorio</p>
                  <p *ngIf="formLogin.get('username')?.errors?.['minlength']&& formLogin.get('username')?.touched" class="text-center block mb-1 ml-1 text-red-600">Debe Tener como mínimo {{formLogin.get('username')?.errors?.['minlength']?.requiredLength}} caracteres</p>
                  <p *ngIf="formLogin.get('username')?.touched && formLogin.get('username')?.errors?.['pattern']" class="text-center block mb-1 ml-1 text-red-600">Formato de Username es Incorrecto email@dominio.com</p>
                  <p *ngIf="formLogin.get('username')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
              </div>
          </div>
          <div>
              <label for="password" class="block mb-1 ml-1 text-white">Password</label>
              <input formControlName="password" [ngClass]="{'correct': formLogin.get('password')?.valid,'error': formLogin.get('password')?.invalid && formLogin.get('password')?.touched}" id="password" type="password" placeholder="Contraseña" class="block w-full text-white p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400 bg-gray-800">
              <div>
                  <p *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.errors?.['required']" class="text-center block mb-1 ml-1 text-red-600">El Password es Obligatorio</p>
                  <p *ngIf="formLogin.get('password')?.errors?.['minlength']&& formLogin.get('password')?.touched" class="text-center block mb-1 ml-1 text-red-600">Debe Tener como mínimo {{formLogin.get('password')?.errors?.['minlength']?.requiredLength}} caracteres</p>
                  <p *ngIf="formLogin.get('password')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
              </div>
          </div>
          
          <div>
              <button [disabled]="formLogin.invalid" type="submit" class="btn-enviar w-full px-4 py-2 font-bold rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 bg-violet-400 focus:ring-violet-400 hover:ring-violet-400 text-gray-900">Confirmar</button>
          </div>
          <div *ngIf="formLogin.valid && correcto">
              <p class="text-center block mb-1 ml-1 text-green-500">Mensaje Enviado Correctamente</p>
          </div>
          <div class="text-center">
              <p class="block mb-1 ml-1 text-white font-bold p-4">Form Invalid - <span [ngClass]="{'bg-red-500':formLogin.invalid == false, 'bg-green-500' : formLogin.invalid == true}" class="rounded-full text-white px-3 py-1">{{formLogin.invalid}}</span></p>
              <p class="block mb-1 ml-1 text-white font-bold p-4">Form Valid - <span [ngClass]="{'bg-red-500':formLogin.valid == false, 'bg-green-500' : formLogin.valid == true}" class="rounded-full text-white px-3 py-1">{{formLogin.valid}}</span></p>
          </div>
          <div class="bg-black p-4 text-1xl text-yellow-400 mt-4">
              <p>Username : {{formLogin.get('username')?.value}}</p>
              <p>Password : {{formLogin.get('password')?.value}}</p>
          </div>
      </form>
  </div>
  <router-outlet></router-outlet>